/* ============ DEFAULT GENERALE PAGE LAYOUT ============== */
html, body { font-family: Veranda, Verdana, Arial, Helvetica, sans-serif; margin:0; padding:0; height:100%; }
#container { position:relative; min-height:100%; }
#header, #footer { width:100%; background:#EEE; }
/* #header, #footer, #tabs   { border: solid red 1px; } */
#tabs { min-height:800px; }
#footer { font-size:80%; position: absolute; bottom: 0; height:3em; }

#title { text-align: left; font-size:200%; font-weight:bold; }
#auth  { text-align: right; }

#rubrica { width:100%; }
#rubrica td { border: solid red 1px; width: 33%; vertical-align: top; }


/* ============ POPUP DIALOG STYLE ============== */
/*
body { font-family: Arial, Helvetica, sans-serif; } 
table { font-size: 1em; }
.ui-dialog .ui-state-error { padding: .3em; }
*/
h1 { font-size: 1.2em; margin: .6em 0; }
fieldset { padding:0; border:0; margin-top:25px; }
input.text { margin-bottom:12px; width:95%; padding: .4em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }
.ui-draggable, .ui-droppable { background-position: top; }
label, input { display:block; }
.ui-dialog-titlebar { background-color:#BBB; }
.ui-dialog-titlebar-close { margin-left: 2em; }
